@model Daniel15.Web.Areas.Admin.ViewModels.Blog.IndexViewModel

@{
	Model.Title = "Blog Administration";
}

<h2>Posts</h2>
<p>There are:</p>
<ul>
	<li><a asp-action="Posts" asp-route-published="true">@Model.PublishedPosts published posts</a></li>
	<li><a asp-action="Posts" asp-route-published="false">@Model.UnpublishedPosts unpublished posts</a></li>
</ul>
<p>@Html.ActionLink("Write a new post", "Edit")</p>
<p>@Html.ActionLink("Sync Disqus comments", "SyncComments")</p>