@model IEnumerable<Daniel15.Web.Models.Home.MicroblogPostModel>

<div id="tumblr-posts" class="blog-posts">
	<h2><a href="http://daaniel.com/">Recent Tumblr Posts</a></h2>
	<ul>
		@foreach (var post in Model)
		{
			<li><time datetime="@post.Date.ToString("s")">@post.Date.ToStringWithOrdinal("d{0} MMM yyyy")</time> <a href="@post.Url">@post.Title</a></li>
		}
	</ul>
</div>