@model ViewModelBase

@{
	Model.Title = "File Not Found";
}

<p>File not found :(</p>
<p>You might want to go to @Html.ActionLink("the index", MVC.Site.Index()) and try to find whatever you're looking for :)</p>