@using System.Threading.Tasks
@model Daniel15.Web.ViewModels.Site.IndexViewModel
@{
	var age = (DateTime.Now - new DateTime(1990, 06, 01)).Years();
	var reactExperienceYears = (DateTime.Now - new DateTime(2013, 10, 01)).Years();
	
	Model.SidebarType = SidebarType.Right;
	Model.Heading = "Daniel15";
	Model.Description = "Website of Daniel15 (Daniel Lo Nigro), a " + age + "-year-old guy from Melbourne Australia. Here I blog about things important to me, and also link to the various other projects I'm working on.";
}

@section extraHead
{
	<!-- OpenID -->
	<link rel="openid.server" href="https://www.startssl.com/id.ssl" />
	<link rel="openid.delegate" href="https://daniel15.startssl.com/" />
	<link rel="openid2.provider" href="https://www.startssl.com/id.ssl" />
	<link rel="openid2.local_id" href="https://daniel15.startssl.com/" />
	<meta http-equiv="X-XRDS-Location" content="https://daniel15.startssl.com/xrds/" />
}

<h2>Welcome</h2>
<p>
	Hi, I'm Daniel! I'm a @age-year-old guy, originally from Melbourne, Australia but now living in
	the San Francisco Bay Area. I'm a software developer with over 20 years of experience, focusing
	primarily on front-end development. I have @reactExperienceYears years of experience using
    React and a strong focus on crafting delightful user experiences. My expertise extends beyond
	front-end technologies, including development in C# and Hacklang, data pipelines with Presto and Apache 
	Airflow, Debian Linux server administration, etc. 
	I currently work at <a href="https://www.meta.com/" rel="nofollow">Meta</a>.
</p>
<p>
	I'm a big advocate of open-source software and released 
	<a href="https://github.com/Daniel15/DanPHPSupport/">my first piece of open source software</a> in 2005.
	Some notable open source software I've worked on include React, Babel, ASP.NET Core, and Yarn v1.
	I've also got a list of <a asp-controller="Project" asp-action="Index">other projects I've worked on</a>
    (but it's a bit outdated at the moment).
	<!--ul>
		<li>React: Built the <a href="https://github.com/facebook/react/pull/691">first HTML to JSX conversion tool</a> in 2013.</li>
		<li>Babel: Built <a href="https://github.com/babel/babel-standalone">the original version of <tt>@@babel/standalone</tt></a> and implemented <a href="https://github.com/babel/website/pulls?q=is%3Apr+sort%3Aupdated-desc+author%3ADaniel15+is%3Aclosed">the REPL for Babel 6 and 7</a>.</li>
		<li>ASP.NET Core: Implemented UNIX socket support</li>
		<li>Yarn v1: Built the release infrastructure, Windows (MSI/Chocolatey) and Linux (DEB/RPM) packaging, Debian repository, E2E tests, and node-gyp support.</li>
		<li>ASTExplorer: Added support for ESLint rules</li>
	</ul-->
</p>
				
<h2>Contacting me</h2>
<p>You may contact me via the following methods:</p>
<ul id="contact-me">
	<!-- Yeah, this is ugly, but it's a really simple method for spambot prevention >_< -->
	<li><strong>Email</strong> &mdash; <span id="email_address"></span></li>
	<li class="social">
		<strong>Social networking (and other) sites:</strong>
						
		<ul>
			<li class="facebook"><a title="Facebook" href="http://www.facebook.com/daaniel" rel="me">Facebook</a></li>
			<li class="twitter"><a title="Twitter" href="http://www.twitter.com/daniel15" rel="me">Twitter</a></li>
			<li class="lemmy"><a title="Lemmy" href="https://upvote.au/u/dan" rel="me">Lemmy</a></li>
			<li class="mastodon"><a title="Mastodon" href="https://toot.d.sb/@@dan" rel="me">Mastodon</a></li>
			<li class="github"><a title="Github" href="http://github.com/Daniel15" rel="me">Github</a></li>
			<li class="reddit"><a title="Reddit" href="http://reddit.com/user/daniel15" rel="me">Reddit</a></li>
			<li class="linkedin"><a title="LinkedIn" href="http://linkedin.com/in/Daniel15" rel="me">LinkedIn</a></li>
			<li class="pinboard"><a title="Pinboard.in" href="http://pinboard.in/u:daniel15" rel="me">Pinboard.in</a></li>
			<li class="stackoverflow"><a title="StackOverflow" href="http://stackoverflow.com/users/210370/daniel-lo-nigro" rel="me">StackOverflow</a></li>
			<li class="tumblr"><a title="Tumblr" href="http://daaniel.com/" rel="me">Tumblr</a></li>
			<li class="lastfm"><a title="Last.fm" href="http://last.fm/user/daniel_1515" rel="me">Last.fm</a></li>
			<li class="steam"><a title="Steam" href="http://steamcommunity.com/id/daniel15" rel="me">Steam</a></li>
		</ul>
	</li>
</ul>

<partial name="_LatestPosts" model="Model.LatestPosts" />

@section sidebar
{
	<h2><a href="socialfeed.htm">What I've Been Doing</a></h2>
	<div id="minifeed">
		<ul class="minifeed">
			<li class="minifeed-loading">Loading...</li>
		</ul>
	</div>

	<ul>
		<li><a href="socialfeed.htm">See more...</a></li>
	</ul>
}
