@using System.Threading.Tasks
@model Daniel15.Web.ViewModels.Site.IndexViewModel
@{
	var age = (DateTime.Now - new DateTime(1990, 06, 01)).Years();
	
	Model.SidebarType = SidebarType.Right;
	Model.Heading = "Daniel15";
	Model.Description = "Website of Daniel15 (Daniel Lo Nigro), a " + age + "-year-old guy from Melbourne Australia. Here I blog about things important to me, and also link to the various other projects I'm working on.";
}

@section extraHead
{
	<!-- OpenID -->
	<link rel="openid.server" href="https://www.startssl.com/id.ssl" />
	<link rel="openid.delegate" href="https://daniel15.startssl.com/" />
	<link rel="openid2.provider" href="https://www.startssl.com/id.ssl" />
	<link rel="openid2.local_id" href="https://daniel15.startssl.com/" />
	<meta http-equiv="X-XRDS-Location" content="https://daniel15.startssl.com/xrds/" />
}

<h2>Welcome</h2>
<p>
	Hi, I'm Daniel! I'm a @age-year-old guy, originally from Melbourne, Australia but now living in 
	Mountain View, California. I work at <a href="http://www.facebook.com/">Facebook</a> as a frontend 
	developer. I enjoy web development, including both frontend (including HTML5, CSS3 and JavaScript) 
	and backend (including ASP.NET MVC, PHP and Node.js) development. I love exploring new technologies, 
	and creating websites or applications implementing these technologies.
</p>
<p>
	This should really have a better introduction on who I am... I'll complete it one day. For now you can 
	<a href="http://facebook.com/daaniel">find me on Facebook</a>, I guess.
</p>
<p>
	I've also got a list of <a asp-controller="Project" asp-action="Index">projects I've worked on</a>. I'm probably most well known 
	as "the guy that wrote a lot of Simple Machines Forum modifications", or "the guy that wrote the ATAR Calculator" :-)
</p>
				
<h2>Contacting me</h2>
<p>You may contact me via the following methods:</p>
<ul id="contact-me">
	<!-- Yeah, this is ugly, but it's a really simple method for spambot prevention >_< -->
	<li><strong>Email</strong> &mdash; <span id="email_address"></span></li>
	<li id="gtalk" class="presence offline">
		<strong>Google Talk / Jabber</strong> &mdash; <span id="gtalk_address" class="address"></span>.
		I'm currently <span id="gtalk_status">Offline</span>.
	</li>
	<li id="skype" class="presence offline">
		<strong>Skype</strong> &mdash; <span id="skype_address" class="address">daniel15au</span>.
		I'm currently <span id="skype_status">Offline</span>.
	</li>
	<li class="social">
		<strong>Social networking (and other) sites:</strong>
						
		<ul>
			<li class="facebook"><a title="Facebook" href="http://www.facebook.com/daaniel">Facebook</a></li>
			<li class="twitter"><a title="Twitter" href="http://www.twitter.com/daniel15">Twitter</a></li>
			<li class="github"><a title="Github" href="http://github.com/Daniel15">Github</a></li>
			<li class="reddit"><a title="Reddit" href="http://reddit.com/user/daniel15">Reddit</a></li>
			<li class="linkedin"><a title="LinkedIn" href="http://linkedin.com/in/Daniel15">LinkedIn</a></li>
			<li class="pinboard"><a title="Pinboard.in" href="http://pinboard.in/u:daniel15">Pinboard.in</a></li>
			<li class="stackoverflow"><a title="StackOverflow" href="http://stackoverflow.com/users/210370/daniel-lo-nigro">StackOverflow</a></li>
			<li class="tumblr"><a title="Tumblr" href="http://daaniel.com/">Tumblr</a></li>
			<li class="lastfm"><a title="Last.fm" href="http://last.fm/user/daniel_1515">Last.fm</a></li>
			<li class="steam"><a title="Steam" href="http://steamcommunity.com/id/daniel15">Steam</a></li>
			<li class="gplus"><a title="Google+" href="http://dl.vc/gplus">Google+</a></li>
		</ul>
	</li>
</ul>

@Html.Partial("_LatestPosts", Model.LatestPosts)
<vc:tumblr-posts />

@section sidebar
{
	<h2><a href="socialfeed.htm">What I've Been Doing</a></h2>
	<div id="minifeed">
		<li class="loading">Loading...</li>
	</div>

	<ul>
		<li><a href="socialfeed.htm">See more...</a></li>
	</ul>
}

@section scripts {
	<script async defer src="http://mystatus.im/daniel.json?callback=Page.Site.Index.initGoogleTalk"></script>
	<yql query="SELECT * FROM skype.user.status WHERE user='daniel15au'" callback="Page.Site.Index.initSkype" />	
}
