[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/Daniel15/kohana-pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/dispatcher"]
	path = modules/dispatcher
	url = git://github.com/BRMatt/Kohana-Dispatcher.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/akismet"]
	path = modules/akismet
	url = git://github.com/Daniel15/kohana3-akismet.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/Daniel15/cache.git
