RewriteEngine on

# Some redirects
Redirect /fb http://www.facebook.com/daaniel
Redirect /ms http://www.myspace.com/daniel_1515
# Shortened URLs
Redirect /ldr http://dan.cx/blog/2009/12/the-story-of-a-long-distance-relationship/

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Make sure we're using the correct domain
RewriteCond %{HTTP_HOST}   !^dan\.cx [NC]
RewriteCond %{HTTP_HOST}   !^dev\.dan\.cx [NC]
RewriteCond %{HTTP_HOST}   !^ss\.dan\.cx [NC]
RewriteCond %{HTTP_HOST}   !^localhost [NC]
RewriteCond %{HTTP_HOST}   !^staging\.dan\.cx [NC]
RewriteCond %{HTTP_HOST}   !^$
# This can't be redirected.
RewriteCond %{REQUEST_FILENAME} !google61623b5951d83a31.html
RewriteRule ^(.*)         http://dan.cx/$1 [L,R=permanent]

# Redirect pages from old WordPress blog
RewriteCond %{HTTP_HOST} (.+)
RewriteRule ^newblog/page/([0-9]+)/$ http://%1/newblog?page=$1 [L,R=permanent]

# Redirect old WordPress blog URLs (categories, posts) to new ones (no trailing slash)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} newblog/(.*)/$
RewriteCond %{HTTP_HOST} (.+)
RewriteRule ^newblog/(.*)/$ http://%1/newblog/$1 [L,R=permanent] 

# Rewrite old WordPress images
RewriteRule ^blog/wp-content/uploads/(.+)$ oldblog/wp-content/uploads/$1 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
