/* Home page */
/*.blog .pagination
{
	margin: 0;
	padding: 0;
}

.blog .pagination li
{
	list-style-type: none;
	display: inline;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-right: 0.5em;
}*/

.blog .pagination a, 
.blog .pagination strong
{
	padding: 3px 5px;
	border: 1px solid #CCC;
}

/* Posts */
.blog #content > article footer
{
	margin-top: 1em;
}

#blog-view #content > article footer
{
	clear: left;
	border: 1px solid #B3C0FF;
	background-color: #F2F6FB;
	padding: 1em;
	font-size: x-small;
}

/* Post meta data */
.blog article h2
{
	z-index: 2;
	background-color: white;
}

ul.postmetadata
{
	margin: -10px 0 0.5em 0.5em;
	padding: 0;
	z-index: 1;
}

ul.postmetadata li
{
	list-style-type: none;
	display: inline;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-color: #B3C0FF;
	border-width: 0 1px 1px 1px;
	padding: 0.7em 0.6em 0.7em 25px;
	margin: 0 0.1em;
	font-size: x-small;
	
	background-repeat: no-repeat;
	background-position: 5px 6px;
}

.postmetadata img
{
	vertical-align: middle;
}

.blog p.tags
{
	clear: left;
}

/* Share links */
/* Links with JS disabled */
.blog article .share
{
	overflow: hidden;
	margin-top: 5px;
}

.blog article .share ul
{
	padding: 0;
	margin: 0;
	float: left;
} 

.blog article .share > span
{
	float: left;
	margin-right: 0.2em;
}

.blog article .share li
{
	display: inline;
}

.blog article .share li:after
{
	content: ", ";
}

.blog article .share li:last-child:after
{
	content: "";
}

.blog article .share .count
{
	display: none;
}

/* Links with JS enabled */
.js article .share span,
.js article .share li:after
{
	display: none;
}

.js article .share li
{
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}

.js article .share li a
{
	color: black;
	text-decoration: none;
	display: block;
	width: 40px;
}

.js article .share li .count
{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #B3C0FF;
	/*background-color: #F2F6FB;*/
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.js article .share .count:after
{
	content: " ";
	/* Crazy CSS triangles! */
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #B3C0FF;
	height: 0;
	width: 0;
	display: block;
	position: relative;
	left: 15px;
}

.js article .share .icon
{
    position: relative;
    top: 5px;
	margin-bottom: 10px;
}

/* Custom colours */
.js article .share li.twitter .count { border-color: #94e4ff; }
.js article .share li.twitter .count:after { border-top-color: #94e4ff; }
.js article .share li.reddit .count { border-color: #aeaeae; }
.js article .share li.reddit .count:after { border-top-color: #aeaeae; }
.js article .share li.facebook .count { border-color: #98a9c9; }
.js article .share li.facebook .count:after { border-top-color: #98a9c9; }

/* Highlight on hover */
.js article .share li:hover .count
{
	border-color: black;
}

.js article .share li:hover .count:after
{
	border-top-color: black;
}

/* Comments */
.blog #leave-comment label
{
	width: 5em;
	display: inline-block;
}

.blog #leave-comment textarea
{
	width: 100%;
}

.blog #leave-comment #submit
{
	width: auto;
}

.has-placeholders #leave-comment-form label,
.has-placeholders #leave-comment-form small
{
	display: none;
}

.has-placeholders #leave-comment-form input
{
	width: 100%;
}

/* Display checkbox fields normally */
.has-placeholders #leave-comment-form input[type='checkbox']
{
	width: auto;
}

#leave-comment-form input[type='checkbox'] + label
{
	display: inline;
}

/* Spam prevention field */
#leave-comment-form #subject-field
{
	display: none;
}

.blog #comments ol
{
	margin: 0;
	padding: 0;
}

.blog #comments li
{
	border: 1px solid #B3C0FF;
	padding: 0.5em 0.5em 0.5em 1em;
	list-style-type: none;
	margin-bottom: 1em;
	background: #FFF;
}


.blog #comments ol li:nth-child(even)
{
	background: #F2F6FB;
}

.blog #comments img.avatar
{
	float: left;
	margin-right: 0.5em;
}

.blog #comments li header
{
	height: 32px;
	line-height: 32px;
	margin-bottom: 0.5em;
}

.blog #comments li header time
{
	float: right;
}

/* Comment replies */
.blog #comments ol ol
{
	padding-left: 2em;
}

/* Hide "cancel reply" by default */
.blog #cancel-reply
{
	display: none;
}

/* When replying to a comment and the form is "inside" a comment */
.blog article #leave-comment
{
	margin-right: 1em;
}

/* Sidebar */
.js #sidebar-archives ul
{
	overflow: hidden;
	
	/* Animation when year is expanded */
	-webkit-transition: 600ms ease;
	     -o-transition: 600ms ease;
	   -moz-transition: 600ms ease;
	        transition: 600ms ease;
}