/* Daniel15 v4
 * Sprites
 */
 
/** sprite: mainsprite; sprite-image: url('combined/sprites/mainsprite-${md5}.gif'); sprite-layout: vertical */

.social .facebook a
{
	background-image: url(icons/social/facebook.png); /** sprite-ref: mainsprite; */
} 

ul#socialfeed li.source-twitter .meta, ul#minifeed li.source-twitter .icon, .social .twitter a
{
	background-image: url(icons/social/twitter.gif); /** sprite-ref: mainsprite; */
} 

ul#socialfeed li.source-pinboard .meta, ul#minifeed li.source-pinboard 
{
	background-image: url(icons/social/pinboard.gif); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-rss .meta, ul#minifeed li.source-rss 
{
	background-image: url(icons/social/rss.png); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-lastfm .meta, ul#minifeed li.source-lastfm, .social .lastfm a 
{
	background-image: url(icons/social/lastfm.png); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-youtube .meta, ul#minifeed li.source-youtube 
{
	background-image: url(icons/social/youtube.gif); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-foursquare .meta, ul#minifeed li.source-foursquare 
{
	background-image: url(icons/social/foursquare.png); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-stumbleupon .meta, ul#minifeed li.source-stumbleupon 
{
	background-image: url(icons/social/stumbleupon.png); /** sprite-ref: mainsprite; */
}
ul#socialfeed li.source-reddit .meta, ul#minifeed li.source-reddit, .social .reddit a 
{
	background-image: url(icons/social/reddit.png); /** sprite-ref: mainsprite; */
}