/* Daniel15 v4
 * Sprites
 */
 

/* Social feed links */
.social .facebook a
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -0px;
} 

ul#socialfeed li.source-twitter .meta, ul#minifeed li.source-twitter .icon, .social .twitter a
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -16px;
} 

ul#socialfeed li.source-pinboard .meta, ul#minifeed li.source-pinboard  .icon
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -32px;
}
ul#socialfeed li.source-rss .meta, ul#minifeed li.source-rss .icon
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -48px;
}
ul#socialfeed li.source-lastfm .meta, ul#minifeed li.source-lastfm .icon, .social .lastfm a 
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -64px;
}
ul#socialfeed li.source-youtube .meta, ul#minifeed li.source-youtube  .icon
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -80px;
}
ul#socialfeed li.source-foursquare .meta, ul#minifeed li.source-foursquare .icon
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -96px;
}
ul#socialfeed li.source-stumbleupon .meta, ul#minifeed li.source-stumbleupon .icon
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -112px;
}
ul#socialfeed li.source-reddit .meta, ul#minifeed li.source-reddit .icon, .social .reddit a 
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -128px;
}

.social .github a 
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -144px;
}
.social .linkedin a 
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -160px;
}
.social .gplus a 
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -176px;
}

/* Glossy overlay thingies for headings */
/* TODO: See if these can be done with CSS3 instead */
h2 span
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -192px;
}

h3 span
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -192px;
}

#sidebar h2 span
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -216px;
}

/* Icons for blog meta data */
ul.postmetadata li.date
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -240px;
}
ul.postmetadata li.comments
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -267px;
}
ul.postmetadata li.category
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -294px;
}
ul.postmetadata li.permalink
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -321px;
}

/* Google Talk chat status */
#gtalk.offline #gtalk_address
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -348px;
}

#gtalk.online #gtalk_address
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -366px;
}

#gtalk.busy #gtalk_address
{
  background-image: url('combined/sprites/mainsprite-e7f479dddf65f22de6b174225d4ab14f.png');
  background-position: left -384px;
}
