h2
{
	margin-bottom: 1em;
}

div.section_inner
{
	margin-bottom: 1em;
}

div.section_inner ul
{
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.section_inner ul li
{
	float: left;
	width: 210px;
	border: 1px solid #9CAEFF;
	text-align: center;
	padding: 2px;
	margin: 0 5px 5px 0;
	height: 205px;
}

div.section_inner ul li img
{
	border: 1px solid black;
}

div.section_inner ul li:hover
{
	border: 1px solid #000000;
	background-color: #FFFF99;
}

div.section_inner ul li:hover img
{
	filter: alpha(opacity: 100); 
	-moz-opacity: 0.99;
	opacity: 0.99;
	-khtml-opacity: 0.99;
}

div.section_inner ul li a:hover
{
	text-decoration: none;
	color: #EE0000;
}

div.section_inner br
{
	clear: left;
}
