@model Daniel15.Web.ViewModels.Error.StatusCodeViewModel
@{
	Model.Title = "Error " + Model.StatusCode;
}

<p>
	Sorry, something went wrong and you encountered an error @Model.StatusCode. This error has been 
	logged, but please email me at <strong>daniel@dan.cx</strong> and let me know what broke. :(
</p>
<p>@DateTime.Now</p>
