@model List<Daniel15.Web.Models.Shared.MenuItemModel>
<nav>
	<ul>
		@foreach (var item in Model)
		{
			<li class="@(item.Active ? "selected" : string.Empty)"><a href="@item.Url">@item.Title</a></li>
		}
	</ul>
</nav>