<form asp-controller="Site" asp-action="Search" asp-antiforgery="false" id="cse-search-box" method="GET">
	<p>
		<input type="hidden" name="cx" value="004051909471716700708:rimydhupcdu" />
		<input type="hidden" name="cof" value="FORID:9" />
		<input type="hidden" name="ie" value="UTF-8" />
		<input type="text" name="q" id="q" autocomplete="off" />
		<input type="submit" name="sa" value="Search" /><br />

		Powered by Google Custom Search
	</p>
</form>
