@model Daniel15.Web.ViewModels.Shared.ErrorViewModel
@{
	Layout = "_Layout.cshtml";
	Model.Heading = "Something broke :(";
}

<p>
	Sorry, something went wrong. Email me at <strong>daniel@dan.cx</strong> and let me know
	what broke. :(
</p>
<p>@DateTime.Now</p>