<?xml version="1.0" encoding="utf-8" ?>
<authentication mode="Forms">
	<forms loginUrl="~/Account/Login" timeout="2880">
		<credentials passwordFormat="SHA1">
			<!-- Example login is username "example" and password "password". CHANGE THIS!! -->
			<user name="example" password="5BAA61E4C9B93F3F0682250B6CF8331B7EE68FD8" />
		</credentials>
	</forms>
</authentication>