<?xml version="1.0" encoding="utf-8" ?>
<combres xmlns='urn:combres'>
	<filters>
		<filter type="Combres.Filters.FixUrlsInCssFilter, Combres" />
		<filter type="Adept.Combres.DotLessCssFilter, Adept.Combres" />
	</filters>
	<resourceSets url="~/combined"
								defaultDuration="90"
								defaultVersion="auto"
								defaultDebugEnabled="auto"
								defaultIgnorePipelineWhenDebug="true"
								localChangeMonitorInterval="30"
								remoteChangeMonitorInterval="60"
								>
		<resourceSet name="main.css" type="css">
			<!-- Main stylesheets -->
			<resource path="~/Content/css/style.less" />
			<resource path="~/Content/css/sprites-processed.less" />
			<resource path="~/Content/css/blog.less" />

			<!-- Pages -->
			<resource path="~/Content/css/pages/index.less" />
			<resource path="~/Content/css/pages/socialfeed.less" />
			<resource path="~/Content/css/pages/projects.less" />
			<resource path="~/Content/css/pages/search.less" />

			<!-- Mobile stylesheets -->
			<resource path="~/Content/css/mobile.less" />

			<!-- Print stylesheets -->
			<resource path="~/Content/css/print.less" />

			<!-- IE hacks -->
			<resource path="~/Content/css/style-ie8.less" />
			<resource path="~/Content/css/style-ie7.less" />
			<resource path="~/Content/css/style-ie6.less" />

			<!-- Third-party -->
			<!-- TODO: Move from JS folder -->
			<resource path="~/Content/js/lib/syntaxhighlighter/shCore.less" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shThemeDefault.less" />
		</resourceSet>
		<resourceSet name="blogadmin.css" type="css">
			<resource path="~/Content/css/blogadmin.less" />
		</resourceSet>
		<resourceSet name="main.js" type="js">
			<!-- Framework -->
			<resource path="~/Content/js/framework/core.js" />
			<resource path="~/Content/js/framework/ajax.js" />
			<resource path="~/Content/js/framework/dom.js" />
			<resource path="~/Content/js/framework/events.js" />
			<resource path="~/Content/js/framework/storage.js" />

			<!-- Site scripts -->
			<resource path="~/Content/js/core.js" />
			<resource path="~/Content/js/site.js" />
			<resource path="~/Content/js/blog.js" />
			<resource path="~/Content/js/socialfeed.js" />
		</resourceSet>
		<resourceSet name="syntaxHighlighter.js" type="js">
			<resource path="~/Content/js/lib/syntaxhighlighter/shCore.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushJScript.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushPhp.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushCSharp.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushXml.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushDelphi.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushPlain.js" />
			<resource path="~/Content/js/lib/syntaxhighlighter/shBrushCss.js" />
			<resource path="~/Content/js/syntaxhighlighter.js" />
		</resourceSet>
		<resourceSet name="blogadmin.js" type="js">
			<resource path="~/Content/js/blogadmin.js" />
		</resourceSet>
	</resourceSets>
</combres>
