<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<SiteConfiguration
		xdt:Transform="SetAttributes"
		webCacheType="Daniel15.Web.Services.NginxWebCache, Daniel15.Web" 
		screenshotsDir="/var/www/ss.dan.cx/"
		screenshotsUrl="http://ss.dan.cx/"
	/>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes" />
	</system.web>
</configuration>