<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<SiteConfiguration
		xdt:Transform="SetAttributes"
		webCacheType="Daniel15.Web.Services.NginxWebCache, Daniel15.Web" 
		screenshotsDir="/var/www/ss.dan.cx/"
		screenshotsUrl="http://ss.dan.cx/"
	/>
	<Gallery>
		<galleries>
			<add name="screenshots" imageUrl="http://ss.dan.cx/" imageDir="/var/www/ss.dan.cx/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</galleries>
	</Gallery>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes" />
	</system.web>
</configuration>