@model Daniel15.Web.ViewModels.Blog.PostViewModel
@{
	bool showMoreLink;
}

<article id="post-@Model.Post.Id" itemscope itemtype="http://schema.org/BlogPosting">
	<partial name="_PostHeader" model="Model" />
		@Html.Raw(Model.Post.Intro(out showMoreLink))
		@if (showMoreLink)
		{
			<p><a href="@Url.BlogPost(Model.Post)" class="read-more">Read more &rArr;</a></p>
		}
	</div>
	<footer>
		<partial name="_ShareLinks" model="Model" />
		<a href="@Url.BlogPost(Model.Post)#disqus_comments" itemprop="discussionUrl">Comments &raquo;</a>
	</footer>
</article>
