@using Daniel15.Web.ViewModels.Blog
@model Daniel15.Web.ViewModels.Blog.SidebarCategoriesViewModel

<ul>
	@foreach (var category in Model.Categories)
	{
		<li><a href="@Url.BlogCategory(category)">@category.Title</a></li>
		@* Render child categories if applicable *@
		if (Model.CategoryTree.ContainsKey(category.Id))
		{
			<partial
				name="_SidebarCategories"
				model="new SidebarCategoriesViewModel
				{
					Categories = Model.CategoryTree[category.Id],
					CategoryTree = Model.CategoryTree,
				}"
			/>
		}
	}
</ul>
